body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
}

a  {
	text-decoration: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*нужно будет убрать*/

.footer-social ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-header {
	background-color: #eeeeee;
}

.menu {
	display: flex;
	/*align-items: center;*/
	padding-top: 49px;
	padding-bottom: 30px;
	font-size: 16px;
	font-weight: 500;
	line-height: 30px;
	color: #000000;
	background-color: #eeeeee;
	text-transform: uppercase;
}

.menu-logo {
	width: 160px;
	height: 65px;
	margin-right: 200px;
}

.menu-navigation {
	display: flex;
	justify-content: space-between;
	width: 440px;
}

.menu-user {
	display: flex;
	justify-content: flex-end;
	width: 360px;
}

.menu-navigation a,
.menu-user a {
	color: #000000;
}

.menu-navigation a:hover,
.menu-navigation a:focus,
.menu-user a:hover,
.menu-user a:focus {
	color: #fb565a;
}

.menu-navigation a:active {
	color: #a6a6a6;
}

.menu-user a:active {
	color: #a6a6a6;
}

.slider {
	margin-bottom: 75px;
	color: #000000;
	background-color: #eeeeee;
}

.slider-slogan li:first-child {
	display: block;
}

.slider-slogan li {
	display: none;
}

.slider-slogan-text {
	margin: 0;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

.services-list {
	display: flex;
	margin-bottom: 122px;
}

.services-item {
	width: 300px;
	margin-right: 100px;
}

.services-item h3 {
	margin: 0;
	font-size: 24px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.about {
	display: flex;
	margin-bottom: 125px;
}

.about-text {
	margin: 0;
	margin-right: 150px;
	width: 660px;
}

.about-table {
	margin: 0;
	width: 360px;
}

.about-text-lead {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}

.about-text-services,
.table-caption {
	font-weight: 700;
	text-transform: uppercase;
}

.table-percent {
	display: flex;
}

.table-features {
	display: flex;
}

.table-percent li {
	font-size: 45px;
	font-weight: 700;
	line-height: 45px;
}

.table-feautures li {
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.partners-list {
	display: flex;
}

.map-contacts {
	margin: 0;
	padding: 0;
}

.map-contacts h3 {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
}

.map-contacts p {
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
}

.footer-slogan-container {
	margin: 0;
	padding: 0;
}

.footer-social {
	display: flex;
}

.footer-slogan {
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
}

.footer-discount {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
}

.button {
	font: inherit;
	font-size: 16px;
	font-weight: 500;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #fb565a;
	border: none;
}

.button-red:hover,
.button-red:focus {
	background-color: #e74246;
}

.button-red:active {
	color: #e37376;
	background-color: #d7373b;
}

.button-green {
	background-color: #00ca74;
}

.button-green:hover,
.button-green:focus {
	background-color: #00bc6c;
}

.button-green:active {
	color: #4dc491;
	background-color: #00aa62;
}

.button-yellow {
	background-color: #efc84a;
}

.button-yellow:hover,
.button-yellow:focus {
	background-color: #eab534;
}

.button-yellow:active {
	color: #edc265;
	background-color: #e5a722;
}

.modal {
	display: none;
	color: #000000;
	background-color: #ffffff;
}

.modal h2 {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
}

.modal-form label {
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
}

.modal-userinfo {
	font: inherit;
	border: 2px solid #d7dcde;
}

.modal-userinfo:hover {
	border-color: #b4b9bb;
}

.modal-userinfo:focus {
	border-color: #000000;
}

input[type="email"]:invalid {
	color: #e74246;
	border-color: #e74246;
}

/*меняем цвет плейсхолдера в покое и при наведении*/

input::-webkit-input-placeholder {
	color: rgba(68, 68, 68, 0.5);
}
 
input:-moz-placeholder { /* Firefox 18- */
	color: rgba(68, 68, 68, 0.5);  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
	color: rgba(68, 68, 68, 0.5);  
}
 
input:-ms-input-placeholder {  
	color: rgba(68, 68, 68, 0.5);  
}

textarea::-webkit-input-placeholder {
	color: rgba(68, 68, 68, 0.5);
}
 
textarea:-moz-placeholder { /* Firefox 18- */
	color: rgba(68, 68, 68, 0.5);  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
	color: rgba(68, 68, 68, 0.5);  
}
 
textarea:-ms-input-placeholder {  
	color: rgba(68, 68, 68, 0.5);  
}

/*меняем цвет плейсхолдера в фокусе*/

input:focus::-webkit-input-placeholder {
	color: rgb(68, 68, 68);
}

input:focus:-moz-placeholder { /* Firefox 18- */
	color: rgb(68, 68, 68);  
}
 
input:focus::-moz-placeholder {  /* Firefox 19+ */
	color: rgb(68, 68, 68);  
}
 
input:focus:-ms-input-placeholder {  
	color: rgb(68, 68, 68);  
}

textarea:focus::-webkit-input-placeholder {
	color: rgb(68, 68, 68);
}
 
textarea:focus:-moz-placeholder { /* Firefox 18- */
	color: rgb(68, 68, 68);  
}
 
textarea:focus::-moz-placeholder {  /* Firefox 19+ */
	color: rgb(68, 68, 68);  
}
 
textarea:focus:-ms-input-placeholder {  
color: rgb(68, 68, 68);  
}

.main-container {
	display: flex;
	justify-content: space-between;
}

.catalog-name {
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
	padding-top: 80px;
	padding-bottom: 110px; 
	text-align: center;
	color: #000000;
	background-color: #eeeeee;
	font-size: 55px;
	font-weight: 500;
	line-height: 55px;
}

.filter legend {
	color: #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.sorting {
	display: flex;
	width: 760px;
	justify-content: space-between;
}

.sorting p {
	color: #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 18px;
	text-transform: uppercase;
}

.sorting a {
	color: rgba(0, 0, 0, 0.3);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
}

.sorting-feature {
	display: flex;
	width: 270px;
	justify-content: space-between;
}

.sorting-order {
	display: flex;
	width: 40px;
	justify-content: space-between;
}

.sorting-feature-current a {
	color: rgb(0, 0, 0);
	font-size: 14px;
	line-height: 18px;
}

.sorting a:hover,
.sorting a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.sorting a:active {
	color: rgb(0, 0, 0);
}

.sorting-feature-current a:hover {
	color: rgb(0, 0, 0);
}

.filter-option label {
	color: #283136;
	line-height: 20px;
}

.filter-option label:hover {
	color: #000000;
}

.filter-input:focus + label {
	color: #000000;
}

.filter-input:disabled + label {
	color: rgba(0, 0, 0, 0.3);
}

.button-gray {
	color: #000000;
	background-color: #eeeeee; 
}

.button-gray:hover,
.button-gray:focus {
	background-color: #dfdfdf;
}

.button-gray:active {
	color: #959595;
	background-color: #dfdfdf;
}

.templates-list {
	display: flex;
	margin-left: 140px;
	margin-bottom: 60px;
	flex-wrap: wrap;
	width: 760px;
}

.templates-item {
	width: 360px;
	margin-bottom: 33px;
	margin-right: 40px;
}

.templates-item:nth-child(2n) {
	margin-right: 0;
}

.templates-item h3 {
	color: #000000;
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
}

.templates-item-description {
	color: #959595;
	line-height: 18px;
}

.pagination-list {
	display: flex;
	width: 443px;
}

.pagination-list a {
	color: #000000;
	background-color: #eeeeee;
	font-weight: 500;
	line-height: 18px;
}

.pagination-item {
	margin-right: 11px;
}

.pagination-item-current a {
	background-color: #ffffff;
	border: 2px solid #dbdbdb;
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	background-color: #d5d5d5;
	color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a:hover,
.pagination-item-current a:active {
	background-color: #ffffff;
	color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}